<!DOCTYPE html>
<html>
<title>CMPE 220 Team 1</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    <div class=page>
        <h1>Car brand detection</h1>

        <h3>Upload new File</h3>


        <form method="post" enctype="multipart/form-data">
            <p>
                <input type="file" name="file">
            </p>

            <p>
                <input type="submit" value="Upload">
            </p>
        </form>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            <li style="list-style: none">{% for message in messages %}</li>
            <li>{{ message }}</li>
            <li style="list-style: none">{% endfor %}</li>
        </ul>
        {% endif %} {% endwith %} {% if entry %}
        <figure>
            <img src="{{ url_for('uploaded_file', filename=entry[0]) }}" alt="awesome picture" width="640" height="360">
            <figcaption>Your figure</figcaption>
        </figure>

        <h3>Output</h3>

        <div class="text">
            <pre>
            <p>{{ entry[1] }}</p>
            </pre>
        </div>

        {% endif %}

    </div>
</body>

</html>